@CHARSET "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-diagram-element {
	border: 0.1em dotted #d4e06b;
	width: 14em;
	height: 4em;
	line-height: 4em;
	text-align: center;
}